[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
mypy = "*"
pytest = "*"
tomlkit = "*"
pandas = "*"
pandas-gbq = "*"
openpyxl = "*"
polars = "*"
db-dtypes = "*"
google-cloud-bigquery = "*"
google-cloud-storage = "*"
google-auth = "*"
python-dotenv = "*"
numpy = "*"
wrapt = "*"
dill = "*"
pyarrow = "*"
tqdm = '*'
timer = '*'
salesforce-bulk = "*"
simple-salesforce = "*"
unicodecsv = '*'
ipython = '*'
ipaddress = '*'
boto3 = '*'
mypy_boto3_connect = '*'
gspread = '*'
gspread_dataframe = '*'
gcsfs = '*'
fsspec = '*'
oauth2client = '*'

[dev-packages]
#icecream = '*'

[machine-learning]
#tensorflow = '*'

[requires]
python_version = "3.11"

